html{
    width: 768px;
    margin: 0px auto;
    background-color: gray;
}
body{
    background-color: white;
    min-height: 650px;
    border-radius: 10px;
}
#header{

    background-color: #EF820D;
    border-bottom: 5px solid blue;
    padding: 10px;
    color: blue;
    border-radius: 10px;
}
span{
    font-size: 46px;
}
h2{
    position: relative;
    bottom: 10px;
}
img{
    border-radius: 20px;
}
thead{
    background-color: gray;
}
tfoot{
    background-color: gray;
}
.content{
    padding: 0px 30px
}
#addButtons{
    float: right;
    border-radius: 10px;
    width: 50px;
    background-color: blue;
    color: white;
    
}
input{
    width: 135px;
    border-radius: 10px;
    border: 3px solid blue;
    padding-left: 10px;
    float: left;
}
#heading{
    margin: 10px;
    text-align: center;
}
#dropdown_menu{
    color: black;
    width: 350px;
    height: 300px;
    overflow: auto;
}
.category:hover{
    background-color: blue;
    color: white;
}
#listTable{
    margin: 10px;
    border: 3px double #EF820D;
}

.plotlyContents{
    background-color: gray;
    height: 100%;
    position: relative;
    right: 10px;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;

}
#commercialBoad{
    height: 100px;
}
#footer{

    background-color: #EF820D;
    border-top: 5px solid blue;
    padding: 10px;
    color: blue;
    text-align: center;
}
.footer{
    position: relative;
    left: 330px;
}
.listErea{
 margin-left: 10px;
}

.items:hover{
    background-color: yellow;
}
.coupons{
    margin-top: 20px;
}

#redArrow{
    margin-right: 5px;
    margin-top: 5px;
}

.button{
    position: relative;
    left: 30px;
}
#greenArrow:hover{
    background-color: yellow;
}

.listContents{
    padding-left: 40px;
}
.listHead{
    text-align: center;
    font-family: bold;
    font-size: 18px;
}
.itemNamesHead{margin-left: 50px;}
.itemQty{margin-left: 10px;}
.itemCategory{margin-right: 50px;}
h6{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}